/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root
{
    --hue-color: 250; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 30%, 8%);;

    --text-color-light: hsl(var(--hue-color), 8%, 65%);;

    --input-color: hsl(var(--hue-color), 29%, 16%);;
    --body-color: hsl(var(--hue-color), 28%, 12%);;
    --container-color:hsl(var(--hue-color), 29%, 16%);

    --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);;
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--body-color);
    color: white;
    overflow-x: hidden;
}

a
{
    text-decoration: none;
    color: white;
}

ul{
    list-style: none;
}

/* NAVBAR */

.navbar-container
{
    position: fixed;
    display: flex;
    top: 0px;
    justify-content: center;
    width: 100vw;
    border-bottom: 1px solid var(--first-color);
    background-color: var(--body-color);
}

.navbar
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    max-width: 100%;
    height: 3rem;
}

.nav-menu{
    display: inline-block;
    margin-right: 20px;
}

.nav-icon
{
    margin-left: 30px;
}

.nav-item{
    margin: 0px 10px;
    display: inline;
}


/* HOME */

.home
{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
}

.main
{
    width:1000px;
    max-width: 100vw;
    margin-top: 50px;
    display: flex;
}
.profile-img
{
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.info
{
    margin-left: 50px;
}

.info > *
{
    margin: 10px 0;
}

.info h1{
    font-size: 300%;
}

.info button
{
    height: 50px;
    width: 150px;
    background-color: var(--first-color);
    outline: none;
    border: none;
    color: white;
    font-size: 1.25em;
    border-radius: 15px;
}

.about
{
    width:1000px;
    max-width: 90vw;
    margin: 50px 0;
    text-align: center;
}

.about > h1
{
    margin: 15px 0 0 0;
}

.about > p
{
    margin: 50px 0;
}

.about .btn{
    height: 50px;
    width: 150px;
    padding: 10px;
    margin: 20px;
    background-color: var(--first-color);
    outline: none;
    border: none;
    color: white;
    font-size: 1.1em;
    border-radius: 15px;
}


/*==================== QUALIFICATION ====================*/

.qualification{
    margin: 50px;
}

.qualification .section__title
{
    width: 100%;
    text-align: center;
}

.qualification .section__subtitle
{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.qualification__data{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}


.qualification__title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.qualification__subtitle{
    display: inline-block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);
}

.qualification__calender{
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}

.qualification__rounder{
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--first-color);
    border-radius: 50%;
}

.qualification__line{
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--first-color);
    transform: translate(6px,-7px);
}


@media screen and (max-width: 800px)
{
    .main{
        flex-direction: column;
        align-items: center;
    }

    .info{
        width: 90vw;
        margin: 0;
        text-align: center;
    }
}